.movie-filter-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.movie-filter-controls label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
}

.movie-filter-controls select {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.4px solid orange;
  background-color: orange;
  color: #2b2833;
  font-size: 1rem;
  font-weight: 400;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  outline: none;
  transition:
    border-color 0.2s,
    background-color 0.2s;
}

.movie-filter-controls option {
  background-color: rgb(238, 182, 77);
  color: #2b2833;
}
