:root {
  --primary: #2b2833;
  --accent: ;

  --bg-color: #2b2833;
  --gradient: linear-gradient(to bottom, #292929, #000000);

  --font-main: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  --text-main: #ffff;
  --text-muted: ;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;

  --radius-xs: 6px;
  --radius-sm: 12px;
  --radius-md: 24px;
  --radius-lg: 48px;

  --border: 1px solid rgba(255, 255, 255, 0.1);
  --border-color-hv: rgba(255, 255, 255, 0.3);

  --bs-sm: 0 10px 20px rgba(0, 0, 0, 0.4);
  --bs-md: 0 15px 35px rgba(0, 0, 0, 0.4);
}

* {
  font-family: var(--font-main);
}
