:root {
  --primary: #2b2833;
  --primary-dark: #18161d;
  --accent: #18161d;

  --bg-color: #2b2833;
  --gradient: linear-gradient(to bottom, #4b4658, #15141a);

  --font-main: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  --text-main: #ffff;
  --text-muted: #635f6d;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;

  --radius-xs: 6px;
  --radius-sm: 12px;
  --radius-md: 24px;
  --radius-lg: 48px;

  --border: 1px solid rgba(49, 40, 63, 0.979);
  --border-color-hv: rgba(72, 59, 92, 0.979);

  --bs-sm: 0 10px 20px rgba(0, 0, 0, 0.4);
  --bs-md: 0 15px 35px rgba(0, 0, 0, 0.4);
}

* {
  font-family: var(--font-main);
}

body {
  background-color: #18161d;
}
/*rgb(112, 71, 112, 0.7)*/
